body {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 22px;
    color: #222;
}

a {
    color: #0000ff;
}

h1 {
    font-size: 32px;
}

h2 {
    font-size: 22px;
}

h3 {
    font-size: 18px;
}

h4 {
    font-size: 16px;
}

/* The Apply to help form */

.Apply {
    margin: 0px;
    max-width: 640px;
    padding: 0px;
    width: 100%;
}

.Apply p, h2 {
    border-bottom: 1px solid #eee;
    position: relative;
    width: 100%;
}

.Apply h2 {
    display: inline;
    margin: 0;
}

.Apply p {
    display: block;
}

.Apply label {
    display: block;
    margin-top: 3px;
    padding: 3px;
    width: 94%;
}

.Apply input {
    display: block;
    height: 20px;
    padding: 5px 8px;
    width: 100%;
}

.Apply textarea {
    padding: 8px;
    width: 100%;
    min-height: 100px;
}

.Apply-formError {
    color: red;
    font-style: italic;
    font-weight: bolder;
    width: 100%;
}
